@mixin cards{ // mixins are blocks of css you want to define and use later
  text-align: center;
  color: #b45008;
  font-size: 22px;
}

@mixin buttons {
  background-image: linear-gradient(to right, #2eb872, #55e0a3, #379956);
}

@mixin forms {
  font-size: 30px;
  color: #d60808;
}

.pageTitle {
  text-align: center;
  font-size: 60px;
  color: #c37857;
  text-shadow:
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		2px 2px 0 #000;
}

.form {
  margin-top: 15px;
  text-align: center;
}

.formControl {
  width: 300px;
  height: 20px;
}

.name {
  @include forms;
}

.footage {
  @include forms;
}

.root {
  background-image: url("https://i.imgur.com/7RJtmZf.png");
  background-image: fixed 100% 100%;
  background-size: 100% 100%;
  background-position: center center;
  height: 100vh;
  padding: 0px;
  margin: -10px;
  margin-top: -50px;
} 

.registerForm {
  text-align: center;
  margin-left: 10px;
}

.registerUsername {
  margin-left: 10px;
}

.registerEmail {
  margin-left: 10px;
}

.registerPassword {
  margin-left: 10px;
}

.registerBtn {
  margin-left: 10px;
  @include buttons();
}

.searchForm {
  @include forms;
  text-align: center;
}

.searchBar {
  color:black;
  font-size: 20px;
}

.container {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.card {
  display: inline-block;
  background-color: #c8b316eb; 
  border: 3px solid black;
  border-radius: 40px;
  padding: 40px;
  text-align: center;
  font-size: 15px;
  width: 20%;
  height: 40%;
  margin: 10px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  margin-top: 50px;
}

.jobName {
  @include cards;
}

.fenceFtg {
  @include cards;
}

.editJob {
  font-size: 17px;
}

.deleteBtn {
  background-image: linear-gradient(to right, #b12c2c, #f58978, #af1a1a);
  margin: 8px;
}

.editBtn {
  @include buttons;
  margin-top: 8px;
}

.submitBtn {
  @include buttons;
  margin: 10px;
  width: 80px;
  height: 25px;
}